@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #302d31;
  color: #eee;
  font-family: "Press Start 2P", sans-serif;
}

/*LAYOUT*/

header {
  border-bottom: 8px solid #eeeeee4f;
  height: 45vh;
  position: relative;
}

main {
  align-items: center;
  color: #eee;
  display: flex;
  flex-direction: row-reverse;
  height: 65vh;
  justify-content: space-around;
}

/*ELEMENTS*/
h1 {
  font-size: 3.75rem;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%; /*central*/
}

.number {
  background: #eee;
  bottom: -25%;
  color: #333;
  font-size: 5.5rem;
  left: 50%;
  padding: 3rem 0rem;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 15rem;
}

.between {
  font-size: 1.4rem;
  position: absolute;
  right: 5rem;
  top: 2rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.btn:hover {
  background-color: #ccc;
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 52rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.again {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.message {
  height: 3rem;
  margin-bottom: 8rem;
}

.label-score {
  margin-bottom: 2rem;
}
